.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
}


.card-info {
    max-width: 375px;
    padding: 10px;
    border: 1px solid brown;
    border-radius: 20px;
    font-family: 'Outfit', sans-serif;
    margin: 0 auto;
    width: 300px;

      
}
body {
    background-color: hsl(217, 54%, 11%)
    
}
img.crypto-sign {
    color: aqua;
    margin-left: -1.5em;
}

em {
    color: hsl(0, 0%, 100%);
    display: block;
}
p {
    color: hsl(215, 51%, 70%);
}
.crypto-price {
    color: hsl(178, 100%, 50%);
    
}
.time-left {
    color: hsl(215, 51%, 70%);
    display: inline;
}
.author {
    color: hsl(215, 51%, 70%);;
}
.name {
    color: hsl(0, 0%, 100%);
}
span .crypto-price {
    margin: 20px;
    width: 10px;
    text-align: left;
    padding: 10px;
}
img {
    border-radius: 20px;
}
span {
    width: 20px;
}
ul {
    text-align: left;
    margin: 20px;
}
img.time-left {
    width: 20px;
}
img.nft-image {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding: 10px;
}
