.attribution {
    font-size: 18px;
    text-align: center;
    color: aqua;
}


.card-info {
    max-width: 375px;
    padding: 10px;
    border: 1px solid brown;
    color: red;
    font-family: 'Outfit', sans-serif;
}